<form>
    <div class="title">
        Issuer
        <div class="field has-addons is-pulled-right">
            <div class="control">
                <div class="select is-small">
                    <select name="as">
                        {% for address,name in addresses.issuers %}
                            <option value="{{ address }}" {% if as == address %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button is-small" type="submit" formaction="/issuer/status" formmethod="post">
                    <span class="icon"><i class="fas fa-info"></i></span>
                </button>
            </div>
        </div>
        {% if attribute(addresses.issuers, as) is defined %}
            {% if status == 'ok' %}
                <p class="help is-success has-text-right" style="clear: both">
                    <span class="icon"><i class="fas fa-check"></i></span>
                    Issuer certificate is active.
                </p>
            {% endif %}
            {% if status == 'fail' %}
                <p class="help is-danger has-text-right" style="clear: both">
                    <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                    No active certificate found for issuer.
                </p>
            {% endif %}
        {% endif %}
    </div>

    <label class="label">Certification</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="party">
                    <option></option>
                    {% for address,name in addresses.providers %}
                        <option value="{{ address }}" {% if party == address %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/provider/issue" formmethod="post">Issue</button>
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/provider/revoke" formmethod="post">Revoke</button>
        </div>
    </div>
</form>
