<form>
    <div class="title">
        Provider
        <div class="field has-addons is-pulled-right">
            <div class="control">
                <div class="select is-small">
                    <select name="as">
                        {% for address,name in addresses.providers %}
                            <option value="{{ address }}" {% if as == address %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button is-small" type="submit" formaction="/provider/status" formmethod="post">
                    <span class="icon"><i class="fas fa-info"></i></span>
                </button>
            </div>
        </div>
        {% if attribute(addresses.providers, as) is defined %}
            {% if status == 'ok' %}
                <p class="help is-success has-text-right" style="clear: both">
                    <span class="icon"><i class="fas fa-check"></i></span>
                    Provider certificate is active.
                </p>
            {% endif %}
            {% if status == 'fail' %}
                <p class="help is-danger has-text-right" style="clear: both">
                    <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                    No active certificate found for provider.
                </p>
            {% endif %}
        {% endif %}
    </div>

    <label class="label">Client</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" name="domain" placeholder="Domain">
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/client/add" formmethod="post">Add</button>
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/client/remove" formmethod="post">Remove</button>
        </div>
    </div>
</form>
