<form>
    <div class="title">
        Root CA
        <div class="select is-small is-pulled-right">
            <select name="as">
                {% for address,name in addresses.root %}
                    <option value="{{ address }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <label class="label">Certification</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="party">
                    <option></option>
                    {% for address,name in addresses.issuers %}
                        <option value="{{ address }}" {% if party == address %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/issuer/issue" formmethod="post">Issue</button>
        </div>
        <div class="control">
            <button class="button" type="submit" formaction="/issuer/revoke" formmethod="post">Revoke</button>
        </div>
    </div>
</form>
