<p>
    {% if result.providers|length > 0 %}
        <span class="icon is-medium has-text-success"><i class="fas fa-check"></i></span>
        Recipient is using an NTA 7516 certified email provider.
    {% else %}
        <span class="icon is-medium has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
        Email provider of recipient is not NTA 7516 certified.
    {% endif %}
</p>
<br>

<table class="table is-fullwidth">
    <tbody>
        <tr>
            <th>Domain</th>
            <td>
                {{ result.domain }}
                <small>&mdash; <em><a href="{{ links.explorer }}/addresses/{{ result.domainAddress }}" target="_blank">{{ result.domainAddress }}</a></em></small>
            </td>
        </tr>

        {% if result.providers|length > 0 %}
            <tr>
                <th>Provider</th>
                <td>
                    <ul>
                        {% for provider in result.providers %}
                            <li>
                                {{ attribute(addresses.providers, provider)|default('Unknown') }}
                                <small>&mdash; <em><a href="{{ links.explorer }}/addresses/{{ provider }}" target="_blank">{{ provider }}</a></em></small>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}

        <tr>
            <th>MX</th>
            <td>
                <ul>
                    {% for record in result.mx %}
                        <li {% if not result.isPrimaryMx(record) %}class="has-text-grey-light"{% endif %}>
                            {{ record }}
                            {% if result.cert and not result.cert.appliesTo(record) %}
                                <span class="help is-warning" style="display: inline">
                                    <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                                    not provider MX
                                </span>
                            {% endif %}
                        </li>
                    {% else %}
                        <li>
                            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                            <em>No MX records for {{ result.domain }}</em>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

        {% if result.cert %}
            <tr>
                <th>Certificate</th>
                <td>
                    <ul class="is-size-7">
                        <li>
                            <span class="icon has-text-grey"><i class="fas fa-building"></i></span>
                            {{ result.cert.issuer }}
                        </li>
                        <li>
                            <span class="icon has-text-grey"><i class="fas fa-calendar"></i></span>
                            {{ result.cert.validFrom.format('d-m-Y') }} &mdash; {{ result.cert.validTo.format('d-m-Y') }}
                        </li>
                        <li>
                            <span class="icon has-text-grey"><i class="fas fa-key"></i></span>
                            {{ result.cert.getBase58PublicKey() }} <em>({{ result.cert.signatureType }})</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
