{% extends "base.html.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                NTA 7516 demo
            </h1>

            {% if notification %}
                <div class="notification is-{{ notification.type }}">
                    <a class="delete" href="/"></a>
                    {{ notification.message }}
                </div>
            {% endif %}

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child notification is-info">
                        {{ block('verify_recipient') }}
                    </div>

                    {% if result is defined %}
                        <div class="tile is-child message">
                            {{ block('verification_result') }}
                        </div>
                    {% endif %}
                </div>
                <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child box">
                        {% include 'dashboard/root_actions.html.twig' %}
                    </div>
                    <div class="tile is-child box">
                        {% include 'dashboard/issuer_actions.html.twig' %}
                    </div>
                    <div class="tile is-child box">
                        {% include 'dashboard/provider_actions.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block verify_recipient %}
    <h2 class="title">Verify recipient</h2>
    <form method="post" action="/">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="email" required placeholder="Email" value="{{ email }}">
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </div>
        </div>
        <button class="button is-primary is-pulled-right" type="submit">Verify</button>
    </form>
{% endblock %}

{% block verification_result %}
    <div class="message-header">
        <p>NTA 7516 verification for {{ result.email }}</p>
        <a href="/" class="delete"></a>
    </div>

    <div class="message-body">
        {% include 'dashboard/verification_result.html.twig' %}
    </div>
{% endblock %}
